@mixin primary-button($dark-background) {
    font-size: 20px;
    background-color: $dark-background;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: none;
    cursor:pointer;
    &:hover{
       background-color:lighten($dark-background, $amount: 20%); 
    }
    
}

@mixin secondary-button($secondary-font-color){
    font-size: 20px;
    background-color: $color;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: none;
    cursor: pointer;
    &:hover{
       background-color:lighten($color, $amount: 20%);
    }
}
