@mixin primary-button($dark-background) {
    font-size: 20px;
    background-color: $dark-background;
    max-width: fit-content;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: none;
    cursor:pointer;
    &:hover{
       background-color:darken($dark-background, $amount: 20%); 
    }
    
}

@mixin secondary-button($darker-background){
    font-size: 20px;
    background-color: $darker-background;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border-style: none;
    cursor: pointer;
    &:hover{
       background-color:lighten($darker-background, $amount:30%);
    }
}
