@use "./vendor/normalize";
@use "./partials/colors";
@use "./partials/mixins";

h1{
    color: colors.$primary-color;
}

.primary{
    @include mixins.primary-button(blue);
}

nav{
    a{
        color: colors.$p;
    }
    background-color: white;
    ul{
        li{
            list-style: none;
            a{
                color: colors.$font-color;
            }
        }
    }
}

.buttons{
    margin-top: 20px;
}